window {
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7));
}

#clock{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    padding: 20px;
}
.mytab{
    background-image:none;
    background-color: rgba(84, 83, 83, 0.336);
    color : rgb(217, 217, 217);
    padding: 1rem;

}
.mytab:hover{

    background-color: rgba(10, 93, 181, 0.631);
    color : rgb(217, 217, 217);

}
.tab.selected {
    background: #007bff;
    border-bottom: solid;
  }
#tab-container{
    padding: 1rem;
}
